<div role="main" class="hero">
  <div class="container">
    <div class="row" style="padding: 50px 0px;">
      <div class="col-md-5">
        <img src="/gorsel.svg" alt="Organization Icon" class="list-icon">
      </div>
      <div class="col-md-2">
      </div>
      <div class="col-md-5" style="padding-top: 5%;">
        <div class="row" style="padding-bottom: 40%; margin-left: 3%;">
          <div class="col-md-12">
            {% if g.site_intro_text %}
              <h2 style="color: white;">{{ h.render_markdown(g.site_intro_text) }}</h2>
            {% else %}
              <h2 style="color: white;">Açıklamalar...</h2>
            {% endif %}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            {% block search %}
              {% snippet 'home/snippets/search.html', search_facets=search_facets %}
            {% endblock %}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            {% block stats %}
              {% snippet 'home/snippets/stats.html' %}
            {% endblock %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div role="main" class="module-feeds">
  <div class="container">
    <div class="row" style="padding: 10px;">
      <div class="col-md-12">
        {% block featured_group %}
          {% snippet 'home/snippets/featured_group.html' %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>

<div class="container_header">
  <div class="row">
    <div class="col-md-12">
      <h3 class="dataset_header">Popüler Veri Setleri</h3>
    </div>
  </div>
</div>

{# Show a list of the site's most popular groups. #}
<div role="main" class="popular_datasets">
  <div class="container container_dataset">
    <div class="row">
      <div class="col-md-8">
        <div class="row dataset_exp">
          {% for dataset in h.example_theme_most_popular_datasets()[0] %}
            <div class="col-md-3 card_dataset box_dataset">
              <a href="{{ h.url_for(dataset.type ~ '.read', id=dataset.name) }}">
                {% snippet 'home/snippets/popular_datasets_exp.html', dataset=dataset %}
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-md-4">
        {% block stats2 %}
          {% snippet 'home/snippets/stats2.html' %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>
