<div role="main" class="hero">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        {% block promoted %}
          {% snippet 'home/snippets/promoted.html' %}
        {% endblock %}
      </div>
      <div class="col-md-2">
      </div>
      <div class="col-md-5" style="padding-top: 5%;">
        <h2 style="color: white;">Açıklamalar...</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
      </div>
      <div class="col-md-2">
      </div>
      <div class="col-md-5">
        {% block search %}
          {% snippet 'home/snippets/search.html', search_facets=search_facets %}
        {% endblock %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
      </div>
      <div class="col-md-2">
      </div>
      <div class="col-md-5">
        {% block stats %}
          {% snippet 'home/snippets/stats.html' %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>
<div role="main" class="module-feeds">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {% block featured_group %}
          {% snippet 'home/snippets/featured_group.html' %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>

{# Show a list of the site's most popular groups. #}
<div role="main" class="popular_datasets">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h3>Popüler Veri Setleri</h3>
        <ul>
          {% for dataset in h.example_theme_most_popular_datasets() %}
            <li>{{ dataset.display_name }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-md-4">
        {% block stats2 %}
          {% snippet 'home/snippets/stats2.html' %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>
