{% trans %}
<p>CKAN, dünyanın önde gelen açık kaynaklı veri portalı platformudur.</p>

<p>CKAN, verilerin yayınlanması, paylaşılması, bulunması ve kullanılmasını kolaylaştıracak 
araçlar sağlayarak (verilerin depolanması ve sağlam veri API'lerinin sağlanması dahil) 
verileri erişilebilir ve kullanılabilir hale getiren eksiksiz bir kullanıma hazır yazılım çözümüdür. 
CKAN, verilerini açık ve kullanılabilir hale getirmek isteyen veri yayıncılarına 
(ulusal ve bölgesel hükümetler, şirketler ve kuruluşlar) yöneliktir.</p>

<p>CKAN dünya çapında hükümetler ve kullanıcı grupları tarafından kullanılmakta ve 
Birleşik Krallık <a href="https://data.gov.uk">data.gov.uk</a> ve 
Amerika Birleşik Devletleri <a href="https://catalog.data.gov/">catalog.data.gov</a>, 
Brezilya <a href="https://dados.gov.br/">dados.gov.br</a>, Hollanda ve Hollanda hükümet portallarının yanı sıra ABD, 
Birleşik Krallık, Arjantin, Finlandiya ve diğer ülkelerdeki şehir ve belediye 
siteleri gibi yerel, ulusal ve uluslararası hükümet portalları da dahil olmak üzere 
çeşitli resmi ve topluluk veri portallarına güç vermektedir.</p>

<p>CKAN: <a href="https://ckan.org/">https://ckan.org/</a><br />
CKAN Vitrinleri <a href="https://ckan.org/showcase">https://ckan.org/showcase</a><br />
Özelliklere Genel Bakış: <a href="https://ckan.org/features/">https://ckan.org/features/</a></p>
{% endtrans %}
