{% trans %}
<p style="font-size: 16px;">Açık Veri Portalı; Arnavutköy Belediyesi ve iştirakleri ile diğer paydaşlar tarafından üretilen verilerin yayınlandığı ücretsiz veri platformudur.</p>

<p style="font-size: 16px;">Açık Veri Portalı Arnavutköy'ün verilerini açma yolunda ilk adım olarak Arnavutköy Belediyesi tarafından oluşturulmuştur. 
    İlçeye ait verilerin yer aldığı Açık Veri Portalı, özellikle girişimcilerin, akademisyenlerin, uygulama geliştiricilerin ve 
    her kesimden vatandaşın Arnavutköy'e ait verilere erişimine imkan sağlamaktadır. Verinin kullanılması, analizi ve yorumlanması ile bir değere dönüşmesi 
    sayesinde daha etkin, etkili ve verimli kamu hizmeti sunulması, yeni bilgi, fırsat ve iş modellerinin ortaya çıkması ve girişimcilerin doğru bilgiye 
    tek kaynaktan erişerek daha hızlı ve etkin bir şekilde projeler üretebilmesi amaçlanmıştır. 
    Portalde ilk etapta; Afet ve Acil Durum Yönetimi, Çevre, Ekonomi, Yönetişim, Güvenlik, Sağlık, Tarım, Ulaşım, Eğitim ve Enerji 
    olarak 10 farklı kategoride veri setleri yayınlanmıştır.</p>
{% endtrans %}
