{% set stats = h.get_site_statistics() %}

<div class="module-stats2">
  <div class="card2 box2">
    <ul class="stats-list">
      {% block stats_group %}
      <li>
        <a class="stats_b" href="{{ h.url_for('dataset.search') }}">
          <img src="/veriseti.svg" alt="Dataset Icon" class="list-icon2">
          <strong>{{ h.SI_number_span(stats.dataset_count) }}</strong>
          {{ _('Dataset') }}
        </a>
      </li>
      <li>
        <a class="stats_b" href="{{ h.url_for('organization.index') }}">
          <img src="/organizasyon.svg" alt="Organization Icon" class="list-icon2">
          <strong>{{ h.SI_number_span(stats.organization_count) }}</strong>
          {{ _('Organizasyon') }}
        </a>
      </li>
      <li>
        <a class="stats_b" href="{{ h.url_for('group.index') }}">
          <img src="/kategori.svg" alt="Group Icon" class="list-icon2">
          <strong>{{ h.SI_number_span(stats.group_count) }}</strong>
          {{ _('Kategori') }}
        </a>
      </li>
      <li>
        <a class="stats_b" href="{{ h.url_for('dataset.search') }}">
          <img src="/goruntuleme_2.svg" alt="Dataset Icon" class="list-icon2">
          <strong>{{ h.example_theme_most_popular_datasets()[1] }}</strong>
          {{ _('Veri Seti Görüntüleme') }}
        </a>
      </li>
      {% endblock %}
    </ul>
  </div>
</div>