/* =====================================================
   The "account masthead" bar across the top of the site
   ===================================================== */

.account-masthead {
background-color: #eeeeee;
}
/* The "bubble" containing the number of new notifications. */
.account-masthead .account .notifications a span {
  background-color: black;
}

.masthead {
  background: #ffffff url(/white.png);
}
.masthead .main-navbar ul li a {
  padding: 0.6rem 0.9rem;
  color: #000;
  text-decoration: none;
  font-size: 16px;
  font-weight: normal;
}
.homepage .hero {
  background: #4895f1;
  min-height: 500px;
  padding: 20px 0;
}
/* The text and icons in the user account info. */
.account-masthead .account ul li a {
  color: rgba(0, 0, 0, 0.6);
}
/* The user account info text and icons, when the user's pointer is hovering
   over them. */
.account-masthead .account ul li a:hover {
  color: rgba(255, 255, 255, 0.7);
  background-color: black;
}


/* ========================================================================
   The main masthead bar that contains the site logo, nav links, and search
   ======================================================================== */

.masthead {
  background-color: #3d3d3d;
}
/* The "navigation pills" in the masthead (the links to Datasets,
   Organizations, etc) when the user's pointer hovers over them. */
.masthead .navigation .nav-pills li a:hover {
  background-color: rgb(48, 48, 48);
  color: white;
}
/* The "active" navigation pill (for example, when you're on the /dataset page
   the "Datasets" link is active). */
.masthead .navigation .nav-pills li.active a {
  background-color: rgb(74, 74, 74);
}
/* The "box shadow" effect that appears around the search box when it
   has the keyboard cursor's focus. */
.masthead input[type="text"]:focus {
  -webkit-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.7);
  box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.7);
}


/* ===========================================
   The content in the middle of the front page
   =========================================== */

/* Remove the "box shadow" effect around various boxes on the page. */
.box {
  box-shadow: none;
  background-color: #4895f1;
  margin-right: 3%;
  margin-bottom: 15px;
}
/* Remove the borders around the "Welcome to CKAN" and "Search Your Data"
   boxes. */
.hero .box {
  border: none;
}
/* Change the colors of the "Search Your Data" box. */
.homepage .module-search .module-content {
  color: rgb(68, 68, 68);
  background-color: #4895f1;
}
/* Change the background color of the "Popular Tags" box. */
.homepage .module-search .tags {
  background-color: rgb(61, 61, 61);
}
/* Remove some padding. This makes the bottom edges of the "Welcome to CKAN"
   and "Search Your Data" boxes line up. */
.module-content:last-child {
  padding-bottom: 0px;
}
.homepage .module-search {
  padding: 0px;
}
/* Add a border line between the top and bottom halves of the front page. */
.homepage [role="main"] {
  border-top: 1px solid rgb(204, 204, 204);
}


/* ====================================
   The footer at the bottom of the site
   ==================================== */

.site-footer,
body {
  background-color: rgb(256,256,256);
}
/* The text in the footer. */
.site-footer,
.site-footer label,
.site-footer small {
  color: rgba(0, 0, 0, 0.6);
}
/* The link texts in the footer. */
.site-footer a {
  color: rgba(0, 0, 0, 0.6);
}

.stats-list {
  list-style: none;
  padding: 0;
}

.stats-list li {
  margin-right: 6%; /* Add space between list items */
}

.list-icon {
  width: 100%; /* Adjust the width of the icon */
}

.list-icon2 {
  width: 30px; /* Adjust the width of the icon */
  margin-right: 5px; /* Add space between icon and text */
}

.stats_a {
  width: 120%;
  color: white;
  font-size: 20px;
  background-color: #004290;
  text-decoration: none;
}

.stats_b {
  color: white;
  font-size: 18px;
  text-decoration: none;
}

.homepage .module-search .search-form input {
  font-size: 16px;
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  border-radius: 10px;
}

.search-form {
  margin-bottom: 2px;
  padding-bottom: 25px;
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.navbar-left {
  padding-right: 10px;
}

.logoText {
  font-size: 20px;
  padding-left: 14px;
  padding-top: 10px;
  color: #004290;
}

.vertical-line {
  border-left: 2px solid #004290; /* Adjust thickness and color as needed */
  height: 60px; /* Adjust height as needed */
}

.masthead .navbar .logo img {
  max-height: 90px;
}

.masthead .main-navbar ul {
  padding-top: 30px;
  padding-right: 20px;
}

.homepage .module-stats2 .card2 {
  padding: 0.5rem 0.75rem;
}

.homepage .module-stats .card ul .lileft {
  float: left;
  width: 33%;
  font-weight: 300;
}

.homepage .module-stats .card ul .liright {
  float: right;
  width: 33%;
  font-weight: 300;
}

.homepage .module-stats2 .card2 .stats-list li {
  padding-bottom: 10px;
}

.box2 {
  background-color: #dddddd;
}

.container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
  max-width: 66.6%;
}

.search-form {
  border-bottom: none;
}

.homepage .module-search .search-form {
  border-radius: 0.25rem;
  padding: 30px 20px;
  padding-bottom: 0px;
}

.group-list .module-heading .custom-vertical-align {
  height: 200px;
}

/* styles for categories */

.module-image img {
  max-width: 100px;
  max-height: 100px;
  vertical-align: middle;
}

.group-list .module-heading h3, .group-list .module-heading .h3 {
  margin-bottom: 2px;
  margin-top: 60px;
}

.group-list .module-heading h3 a, .group-list .module-heading .h3 a {
  color: #004290;
  font-size: 24px;
}