/* =====================================================
   The "account masthead" bar across the top of the site
   ===================================================== */

.account-masthead {
background-color: #eeeeee;
}
/* The "bubble" containing the number of new notifications. */
.account-masthead .account .notifications a span {
  background-color: black;
}

.masthead {
  background: #ffffff url(/white.png);
}
.masthead .main-navbar ul li a {
  padding: 0.6rem 0.9rem;
  color: #000;
  text-decoration: none;
  font-size: 16px;
  font-weight: normal;
}

.main {
  padding: 5px 0;
  background: white;
}

.homepage .hero {
  background: #4895f1;
  min-height: 500px;
  padding: 20px 0;
}
/* The text and icons in the user account info. */
.account-masthead .account ul li a {
  color: rgba(0, 0, 0, 0.6);
}
/* The user account info text and icons, when the user's pointer is hovering
   over them. */
.account-masthead .account ul li a:hover {
  color: rgba(255, 255, 255, 0.7);
  background-color: black;
}


/* ========================================================================
   The main masthead bar that contains the site logo, nav links, and search
   ======================================================================== */

.masthead {
  background-color: #3d3d3d;
}
/* The "navigation pills" in the masthead (the links to Datasets,
   Organizations, etc) when the user's pointer hovers over them. */
.masthead .navigation .nav-pills li a:hover {
  background-color: rgb(48, 48, 48);
  color: white;
}
/* The "active" navigation pill (for example, when you're on the /dataset page
   the "Datasets" link is active). */
.masthead .navigation .nav-pills li.active a {
  background-color: rgb(74, 74, 74);
}
/* The "box shadow" effect that appears around the search box when it
   has the keyboard cursor's focus. */
.masthead input[type="text"]:focus {
  -webkit-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.7);
  box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.7);
}

.masthead .main-navbar ul li:hover a, .masthead .main-navbar ul li:focus a, .masthead .main-navbar ul li.active a {
  border-radius: 0.3rem;
  background-color: #cccccc;
}

.iletisim-button:hover {
  text-decoration: none;
}

/* ===========================================
   The content in the middle of the front page
   =========================================== */

/* Remove the "box shadow" effect around various boxes on the page. */
.box {
  box-shadow: none;
  background-color: #4895f1;
  margin-right: 3%;
  margin-bottom: 45px;
}

.homepage .module-feeds {
  padding: 2rem 0;
  background: linear-gradient(
    to top,
    #f6f6f6 0%,
    #f6f6f6 75%,
    #4895f1 75%,
    #4895f1 100%
  );
}

.module-heading {
  margin: 0;
  padding: 1rem 25px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  background-color: #f5f5f5;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
}

.module-heading-group {
  background-color: transparent;
}

.module-heading .module-image {
  margin-top: 30%;
}

.module-narrow .nav-item > a, .module-narrow .nav-aside li a {
  text-decoration: none;
  display: block;
  color: #333;
  font-size: 0.875rem;
  line-height: 1.5;
  margin: -7px -25px;
  padding: 1rem 25px;
  background-color: white;
}

.boxgroups{
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.06);
}

/* Remove the borders around the "Welcome to CKAN" and "Search Your Data"
   boxes. */
.hero .box {
  border: none;
}
/* Change the colors of the "Search Your Data" box. */
.homepage .module-search .module-content {
  color: rgb(68, 68, 68);
  background-color: #4895f1;
}
/* Change the background color of the "Popular Tags" box. */
.homepage .module-search .tags {
  background-color: rgb(61, 61, 61);
}
/* Remove some padding. This makes the bottom edges of the "Welcome to CKAN"
   and "Search Your Data" boxes line up. */
.module-content:last-child {
  padding-bottom: 0px;
}
.homepage .module-search {
  padding: 0px;
}
/* Add a border line between the top and bottom halves of the front page. */
.homepage [role="main"] {
  border-top: 0px;
}


/* ====================================
   The footer at the bottom of the site
   ==================================== */

.site-footer,
body {
  background-color: rgb(256,256,256);
}
/* The text in the footer. */
.site-footer,
.site-footer label,
.site-footer small {
  color: rgba(0, 0, 0, 0.6);
}

.site-footer {
  background: #cccccc;
  padding: 20px 0;
}

/* The link texts in the footer. */
.site-footer a {
  color: rgba(0, 0, 0, 0.6);
}

.stats-list {
  list-style: none;
  padding: 0;
}

.stats-list li {
  margin-right: 6%; /* Add space between list items */
  margin-bottom: 4%;
}

.list-icon {
  width: 100%; /* Adjust the width of the icon */
}

.list-icon2 {
  width: 30px; /* Adjust the width of the icon */
  margin-right: 5px; /* Add space between icon and text */
}

/* İstatistikler 1 */

.homepage .module-stats .card ul .lileft {
  float: left;
  width: 48%;
  margin-right: 2%;
}

.homepage .module-stats .card ul .liright {
  float: right;
  width: 48%;
  margin-right: 0%;
}

.stats_a .container_stats {
  display: flex; /* Use flexbox to arrange items */
  align-items: center; /* Center items vertically */
}

@media (min-width: 400px) {
  .stats_a .container_stats .container_img {
    position:absolute;
    z-index: 1;
    padding: 6px;
    background-color: white;
    border-radius: 50%;
  }

  .stats_a .container_stats .container_img img {
    width: 18px;
  }

  .stats_a .container_stats .container_p {
    position:absolute;
    margin-left: 8%;
    width: 32%;
    height: 24px;
    background-color: #004290;
    border-radius: 5px;
  }

  .stats_a .container_stats .container_p p {
    margin-left: 5%;
    color: white;
    font-weight: bold;
    font-size: 8px;
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .stats_a .container_stats .container_img {
    position:absolute;
    z-index: 1;
    padding: 9px;
    background-color: white;
    border-radius: 50%;
  }

  .stats_a .container_stats .container_img img {
    width: 24px;
  }

  .stats_a .container_stats .container_p {
    position:absolute;
    margin-left: 8%;
    width: 32%;
    height: 36px;
    background-color: #004290;
    border-radius: 5px;
  }

  .stats_a .container_stats .container_p p {
    margin-left: 5%;
    color: white;
    font-weight: bold;
    font-size: 11px;
    text-align: center;
  }
}

@media (min-width: 1600px) {
  .stats_a .container_stats .container_img {
    position:absolute;
    z-index: 1;
    padding: 12px;
    background-color: white;
    border-radius: 50%;
  }

  .stats_a .container_stats .container_img img {
    width: 32px;
  }

  .stats_a .container_stats .container_p {
    position:absolute;
    margin-left: 8%;
    width: 35%;
    height: 48px;
    background-color: #004290;
    border-radius: 5px;
  }

  .stats_a .container_stats .container_p p {
    margin-left: 5%;
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
  }
}

@media (min-width: 2000px) {
  .stats_a .container_stats .container_img {
    position:absolute;
    z-index: 1;
    padding: 15px;
    background-color: white;
    border-radius: 50%;
  }

  .stats_a .container_stats .container_img img {
    width: 40px;
  }

  .stats_a .container_stats .container_p {
    position:absolute;
    margin-left: 8%;
    width: 35%;
    height: 54px;
    background-color: #004290;
    border-radius: 5px;
  }

  .stats_a .container_stats .container_p p {
    margin-left: 5%;
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
  }
}

/* İstatistikler 2 */

.stats_b {
  color: white;
  font-size: 18px;
  text-decoration: none;
}

.homepage .module-search .search-form input {
  font-size: 16px;
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  border-radius: 10px;
}

.search-form {
  margin-bottom: 2px;
  padding-bottom: 25px;
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.navbar-left {
  padding-right: 10px;
}

.logoText {
  font-size: 20px;
  padding-left: 14px;
  padding-top: 10px;
  color: #004290;
}

.vertical-line {
  border-left: 2px solid #004290; /* Adjust thickness and color as needed */
  height: 60px; /* Adjust height as needed */
}

.masthead .navbar .logo img {
  max-height: 90px;
}

.masthead .main-navbar ul {
  padding-top: 30px;
  padding-right: 20px;
}

.homepage .module-stats2 .card2 {
  padding: 10% 30%;
}

.homepage .module-stats2 .card2 .stats-list li {
  padding-bottom: 10px;
}

.box2 {
  background-color: transparent;
}

.container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
  max-width: 66.6%;
}

.search-form {
  border-bottom: none;
}

.homepage .module-search .search-form {
  border-radius: 0.25rem;
  padding: 30px 20px;
  padding-bottom: 0px;
}

.group-list .module-heading .custom-vertical-align {
  height: 200px;
  padding-right: 0px;
  padding-left: 0px;
}

/* styles for categories */

@media (min-width: 400px) {
  .module-image img {
    max-width: 50px;
    max-height: 50px;
    vertical-align: middle;
  }

  .group-list .module-heading h3, .group-list .module-heading .h3 {
    margin-bottom: 1px;
    margin-top: 20px;
  }

  .group-list .module-heading h3 a, .group-list .module-heading .h3 a {
    color: #004290;
    font-size: 12px;
  }
}

@media (min-width: 1200px) {
  .module-image img {
    max-width: 80px;
    max-height: 80px;
    vertical-align: middle;
  }

  .group-list .module-heading h3, .group-list .module-heading .h3 {
    margin-bottom: 2px;
    margin-top: 40px;
  }

  .group-list .module-heading h3 a, .group-list .module-heading .h3 a {
    color: #004290;
    font-size: 16px;
  }
}

@media (min-width: 1600px) {
  .module-image img {
    max-width: 90px;
    max-height: 90px;
    vertical-align: middle;
  }

  .group-list .module-heading h3, .group-list .module-heading .h3 {
    margin-bottom: 2px;
    margin-top: 50px;
  }

  .group-list .module-heading h3 a, .group-list .module-heading .h3 a {
    color: #004290;
    font-size: 20px;
  }
}

@media (min-width: 2000px) {
  .module-image img {
    max-width: 100px;
    max-height: 100px;
    vertical-align: middle;
  }

  .group-list .module-heading h3, .group-list .module-heading .h3 {
    margin-bottom: 2px;
    margin-top: 60px;
  }

  .group-list .module-heading h3 a, .group-list .module-heading .h3 a {
    color: #004290;
    font-size: 22px;
  }
}

/* Popüler Veri Setleri */

.homepage .popular_datasets {
  padding: 2rem 0;
  background: linear-gradient(
    to right,
    white 0%,
    white 60%,
    #4895f1 60%,
    #4895f1 100%
  );
}

.container_header {
  max-width: 96%;
}

.container_dataset {
  max-width: 84%;
}

.dataset_header {
  font-size: 30px;
  color: #004290;
  padding: 30px 50px;
}

.box_dataset {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.06);
  background-color: white;
  margin-right: 5%;
  margin-bottom: 50px;
}

.card_dataset {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.box_dataset h3 {
  position: absolute;
  right: -20px;
  top: -15px;
  background-color: #f6f6f6;
  padding: 10px 30px;
  box-shadow: 0 0 0 2px rgba(15, 15, 15, 0.1);
  border-radius: 6px;
  color: #004290;
  font-size: large;
}

.box_dataset .dataset_notes {
  padding-top: 35px;
  margin-bottom: 60px;
  color: #004290;
}

.box_dataset .dataset_resources {
  position: absolute;
  left: 10px;
  bottom: -10px;
  background-color: #3ea742;
  padding: 4px 12px;
  color: white;
}

/* Other Pages */

.container_photo {
  max-width: 100%;
}

.container_other_pages {
  max-width: 72%;
}

.wrapper {
  border: 0px;
  border-radius: 0px;
  box-shadow: 0 0 0 0px white;
}

/* Other Pages sidebar */

.context-info .image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.context-info .image img, .context-info .image a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 50%;
  border-radius: 4px;
}

.context-info h1.heading, .context-info .heading.h1 {
  margin: 0 0 5px 0;
  text-align: center;
  font-size: 24px;
  color: #004290;
  line-height: 1.3;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

@media (min-width: 768px) {
  .wrapper:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 25%;
    border-right: none;
    z-index: 1;
  }
}

.module-shallow .module-content:last-child {
  padding-bottom: 12px;
  background-color: #fff;
}

.module > .module-content:nth-child(2n) {
  padding-top: 1.2rem;
}

/* Other Pages Header */

.page-header {
  margin-top: 1.5rem;
  border-bottom: 1px solid #ddd;
  background-color: #4895f1;
  border-radius: 5px 5px 0 0;
}

.nav-link, .page-header .nav-tabs li a {
  display: block;
  padding: 0.5rem 1rem;
  color: #004290;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.module .module-content .search-form .container {
  max-width: 100%;
  padding-left: 0%;
}

@media (min-width: 768px) {
  .search-form .control-order-by {
    float: left;
    margin-left: 15px;
    width: auto;
  }
}

/* Other Pages Items */

.dataset-item {
  border-top: 1px solid #777;
  padding-top: 10px;
  padding-bottom: 15px;
  border-bottom: none;
  margin-bottom: 0px;
}

.dataset-item:last-of-type {
  border-top: 1px solid #777;
  border-bottom: 1px solid #777;
  padding-top: 10px;
  padding-bottom: 10px;
}