{% ckan_extends %}

{% block info_module %}
    <section class="module module-narrow module-shallow">
      <h2 class="module-heading"><i class="fa fa-info-circle"></i> {{ _('Ver Seti Nedir?') }}</h2>
      <div class="module-content">
        <p>
          {% trans %}
          Bir veri seti, sabit bir URL'de bir açıklama ve diğer bilgilerle birlikte veri kaynaklarının (dosyalar gibi) bir koleksiyonudur. 
          Veri setleri, kullanıcıların veri ararken gördükleri şeydir.
          {% endtrans %}
        </p>
      </div>
    </section>
  {% endblock %}