{% ckan_extends %}

{% block url_type_select %}
    {% if is_upload_enabled %}
        <button type="button" class="btn btn-default" id="resource-upload-button"
        title="{{ _('Upload a file on your computer') }}"
        onclick="
            document.getElementById('resource-url-upload').checked = true;
            document.getElementById('field-resource-upload').click();
        "><i class="fa fa-cloud-upload"></i>{{ _("Yükle") }}</button>
    {% endif %}
    <button type="button" class="btn btn-default" id="resource-link-button"
        title="{{ _('Link to a URL on the internet (you can also link to an API)') }}"
        onclick="
            document.getElementById('resource-url-link').checked = true;
            document.getElementById('field-resource-url').focus();
        "><i class="fa fa-globe"></i>{{ _('Link') }}</button>
{% endblock %}